@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
.container{
    background-color: #5596E6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.logo2{
    margin-top: 1rem;
    height:17rem;
    width: 23rem;
}
.cartoon2{
    height: 18rem;
}
.game{
    font-family: 'Rubik Distressed', cursive;
    font-size: 7rem;
    color: #42D6C4;
    margin-top: 1rem;
}
.zone{
    font-family: 'Rubik Distressed', cursive;
    font-size: 4rem;
    margin-left: 5rem;
    margin-top: -5rem;
    color: #42D6C4;

}